@@charset "UTF-8";
html {
  box-sizing: border-box;
}

/*
*, *::after, *::before {
  box-sizing: inherit;}
  */

body {
  margin:0;
}

.navbar {
  margin: 0;
}

.pill_button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
  font-size: 20px;
  border-radius: 16px;
}

.pill_button:hover {
  opacity: 1;
}

.jumbotron  {
  margin: 0;
  padding: 0;
  border: 0;
}

.navbar-nav {
  display: inline-block;
}

.navbar-nav>li {
   display: inline-block;
}


.heading-picture {
  margin: 0;
  padding: 0;
  border: 0;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/styling/nyc-sunset-cropped.jpg);

}
