@@charset "UTF-8";
html{
  box-sizing: border-box;}

/*
*, *::after, *::before {
  box-sizing: inherit;}
  */

.container {
  border-style: dotted;

}

.row-centered {


}

.column-centered {


}

.heading-picture {
  height: 500px;
  width: auto;
  border-style: solid;
  background-size: auto 50%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url(/styling/nyc-skyline.jpg);

}
