@@charset "UTF-8";
html {
  box-sizing: border-box;
}

/*
*, *::after, *::before {
  box-sizing: inherit;}
  */

body {
  margin:0;
}

.navbar {
  margin: 0;
}

.bio_button {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  cursor: pointer;
  display: inline-block;
}

.jumbotron  {
  margin: 0;
  padding: 0;
  border: 0;
}

.navbar-nav {
  display: inline-block;
}

.navbar-nav>li {
   display: inline-block;
}


.heading-picture {
  margin: 0;
  padding: 0;
  border: 0;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/styling/nyc-sunset-cropped.jpg);

}
